{% if enum_classes %}
# Enum Choices for {{ model_name }}
{% for enum_class in enum_classes %}
class {{ enum_class.name }}(models.TextChoices):
    {% for value, label in enum_class.choices %}
    {{ label | upper | replace(' ', '_') | replace('-', '_') }} = "{{ value }}", "{{ label }}"
    {% endfor %}


{% endfor %}
{% endif %}
"""
Django model for {{ pydantic_model_name }}.
"""

class {{ model_name }}({{ base_model_name }}):
# ... existing code ...
