class {{ model_name }}(Pydantic2DjangoBaseClass):
    {% for field_name, field_definition in fields %}
    {% if field_name != 'id' or not field_definition.startswith('models.BigAutoField') and not field_definition.startswith('models.UUIDField') %}
    {{ field_name }} = {{ field_definition }}
    {% endif %}
    {% endfor %}
    class Meta(Pydantic2DjangoBaseClass.Meta):
        db_table = "{{ meta.db_table }}"
        app_label = "{{ meta.app_label }}"
        verbose_name = """{{ meta.verbose_name.split('\n')[0] }}"""
        verbose_name_plural = """{{ meta.verbose_name_plural.split('\n')[0] }}"""
        abstract = False

    class PydanticConfig:
        module_path = "{{ module_path }}"

    def __init__(self, *args, **kwargs):
        kwargs.setdefault("object_type", "{{ original_name }}")
        super().__init__(*args, **kwargs)
